html{border-bottom:solid 3px #f60}
*{margin:0}
body{font-family:verdana,helvetica, arial, sans-serif;font-size:10pt;padding:10px}
a{text-decoration:none;color:#000}
#container,#spinner{background:#Fff}
#header{height:26px;background:#fff;color:#222}
#header img{border:1px solid #fff;float:left;margin:3px}
#header a,#header span,#header h1{color:#222;float:left;margin:5px 2px 0 5px}
#title,a#title{font-weight:700;font-size:14px;margin-top:5px}
#feed{min-width:auto;font-size:10pt;padding-bottom:4px}
#feed a{display:inline-block;padding-bottom:3px;color:#242E37}
#feed table,#feed a:visited,#feed a.comments,#feed td:nth-child(1),#footer,#footer a,#searchbox{color:#828282}
#feed td{vertical-align:top}
.link{padding:2px 0}
.link span{margin-right:3px}
.comments{font-size:7pt;margin-left:5px}
.error{white-space:nowrap;color:red}
#footer{font-size:11px}
.left{float:left}
.right{float:right}
#spinner{height:300px;text-align:center;padding-top:50px}
#searchbox{font-size:12px;width:215px;border:solid 1px #e1e1e1;background:#fdfdfd;border-radius:2px;margin:12px 3px 0 2px;padding:4px 2px 4px 5px}
td{margin:0;padding:2px}
tr:hover{background:#f1f1f1}
tr{border-radius:2px}
table{border-collapse:collapse;margin:20px 0 5px}
#searchbutton{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#fff;background:#f60;border-radius:2px;border:0 solid #fafafa;padding:5px 16px}
#searchbutton:hover{box-shadow:inset 0 0 10px #999}
